.container {
    text-align: center;
    height: 40vh;
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
}

.container h2 {
    font-weight: 500;
    font-size: 35px;
    padding-bottom: 15px;
}

.link {
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: 400;
}