.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'titles img';
  justify-items: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  margin: auto;
  padding-top: 75px;
  gap: 0 15px;
}

.titles {
  grid-area: titles;
}

.subtitle {
  font-size: 40px;
  padding-bottom: 10px;
  color: orange;
  text-shadow: 1px 1px 1px #333;
}

.paragraph {
  font-size: 20px;
  margin-bottom: 8px;
}

.strong1 {
  color: orangered;
  font-weight: 500;
}

.strong2 {
  font-weight: 500;
}

.logos {
  grid-area: img;
  display: grid;
  grid-template-areas:
    'html css js react'
    'bootstrap tailwind sass git'
    'github next node firebase'
    'express mongo postman handlebars'
    'chakra none none none';
  gap: 1rem;
}

.logo {
  font-size: 3.5rem;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoContainer p {
  color: #333;
  font-weight: 500;
}

.logoContainerHtml {
  grid-area: html;
  color: #f4470b;
  animation: float 5s ease-in-out infinite;
}

.logoContainerCss {
  grid-area: css;
  color: #1775bb;
  animation: float 5s ease-in-out infinite;
  animation-delay: 1s;
}

.logoContainerJs {
  grid-area: js;
  color: #fcb040;
  animation: float 5s ease-in-out infinite;
  animation-delay: 2s;
}

.logoContainerReact {
  grid-area: react;
  color: #1399c4;
  animation: float 5s ease-in-out infinite;
  animation-delay: 3s;
}

.logoContainerBootstrap {
  grid-area: bootstrap;
  color: #7811f2;
  animation: float 5s ease-in-out infinite;
}

.logoContainerTailwind {
  grid-area: tailwind;
  color: #36b7f0;
  animation: float 5s ease-in-out infinite;
  animation-delay: 1s;
}

.logoContainerSass {
  grid-area: sass;
  color: #c76393;
  animation: float 5s ease-in-out infinite;
  animation-delay: 2s;
}

.logoContainerGit {
  grid-area: git;
  color: #f05033;
  animation: float 5s ease-in-out infinite;
  animation-delay: 3s;
}

.logoContainerGithub {
  grid-area: github;
  color: #000;
  animation: float 5s ease-in-out infinite;
}

.logoContainerNext {
  grid-area: next;
  color: #000;
  animation: float 5s ease-in-out infinite;
  animation-delay: 1s;
}

.logoContainerNode {
  grid-area: node;
  color: #509941;
  animation: float 5s ease-in-out infinite;
  animation-delay: 2s;
}

.logoContainerFirebase {
  grid-area: firebase;
  color: #f1af2f;
  animation: float 5s ease-in-out infinite;
  animation-delay: 3s;
}

.logoContainerExpress {
  grid-area: express;
  color: #000;
  animation: float 5s ease-in-out infinite;
}

.logoContainerMongo {
  grid-area: mongo;
  color: #10aa50;
  animation: float 5s ease-in-out infinite;
  animation-delay: 1s;
}

.logoContainerPostman {
  grid-area: postman;
  color: #ff6c38;
  animation: float 5s ease-in-out infinite;
  animation-delay: 2s;
}

.logoContainerHandlebars {
  grid-area: handlebars;
  color: #423426;
  animation: float 5s ease-in-out infinite;
  animation-delay: 3s;
}

.logoContainerChakra {
  grid-area: chakra;
  color: #57c4c2;
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

/* -------------------- MEDIAS QUERIES -------------------- */

@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .subtitle {
    font-size: 30px;
  }

  .paragraph {
    font-size: 18px;
  }
}

@media (max-width: 980px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .img {
    margin-top: 40px;
  }

  .titles {
    margin-bottom: 1rem;
  }
}

@media (max-width: 450px) {
  .logos {
    gap: 8px;
  }
}

@media (max-width: 380px) {
  .logos {
    grid-template-areas:
      'html css js'
      'react bootstrap tailwind'
      'sass git github'
      'next node firebase'
      'express mongo postman'
      'handlebars chakra none';
  }

  .logoContainer {
    animation: none;
  }
}
